
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h3>@ViewBag.Message</h3>

<address>
    <form>
        帳號：<input type="text" name="欄位名稱"></br></br>
        密碼：<input type="text" name="欄位名稱">
        <a href="#about">forgot</a>
        <button type="button">Click Me!</button>

    </form>
</address>
