
@{
    ViewBag.Title = "Reg";
}

<h2>Login</h2>
<h3>@ViewBag.Message</h3>

<address>
    <form>

        
        <h1>請輸入使用者資料</h1>
        <div>
            <span style="color:red">@ViewBag.Msg</span>
            <fieldset>
                <legend>外包網</legend>
                <form method="post" action="">
                    <table border="1" bordercolor="#0099ff" cellpadding="10px" cellspacing="0">
                        <tr>
                            <th colspan="3">請輸入以下資料</th>
                        </tr>
                        <tr>
                            <td>帳號：</td>
                            <td>
                                <input type="text" name="name" value="" />
                            </td>
                            <td><font color="#FF0000">待設定條件</font></td>
                        </tr>
                        <tr>
                            <td>密碼：</td>
                            <td>
                                <input type="password" nam="pwd" />
                            </td>
                            <td><font color="#FF0000">*待設定條件</font></td>
                        </tr>
                        <tr>
                            <td>姓名：</td>
                            <td>
                                <input type="password" nam="pwd" />
                            </td>
                            <td><font color="#FF0000">待設定條件</font></td>
                        </tr>
                        <tr>
                            <td>電話：</td>
                            <td>
                                <input type="password" nam="pwd" />
                            </td>
                            <td><font color="#FF0000">待設定條件</font></td>
                        </tr>
                        <tr>
                            <td>email：</td>
                            <td>
                                <input type="password" nam="pwd" />
                            </td>
                            <td><font color="#FF0000">待設定條件</font></td>
                        </tr>
                        <tr>
                            <td>地址：</td>
                            <td>
                                <select name="country" />
                                <option value="none">---選擇縣市---</option>
                                <option value="cn">台北</option>
                                <option value="usa">桃園</option>
                                <option value="en">新竹</option>
                                <option value="jp">苗栗</option>
                            </td>
                            <td><font color="#FF0000">待設定條件</font></td>
                        </tr>
                        <tr>
                            <td>生日：</td>
                            <td>
                                <input type="password" nam="pwd" />
                            </td>
                            <td><font color="#FF0000">待設定條件</font></td>
                        </tr>
                        <tr>
                            <td>身分證號碼：</td>
                            <td>
                                <input type="password" nam="pwd" />
                            </td>
                            <td><font color="#FF0000">待設定條件</font></td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                <a href="http://localhost:63342/python%20文件/注册结果.html"> <input type="button" name="submit" value="提交" /></a>
                                <input type="reset" name="reset" value="重置" />
                                <button>验证</button>
                            </th>
                        </tr>
                    </table>
                </form>
            </fieldset>
</form>
</address>
